[submodule "Jona/vendor/spdlog"]
	path = Jona/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Jona/vendor/GLFW"]
	path = Jona/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Jona/vendor/imgui"]
	path = Jona/vendor/imgui
	url = https://github.com/TheCherno/imgui
